.container {
  margin: 2% auto;
  width: 78%;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

body{
  background: black;
}

header img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  margin-top: 0.5em;
}


.racer_table{
  margin-top: 4em;
  width: 100%;
  height: 22em;
}

.racer_table #dino td{
  width: 10%;
  /*height: 11em;*/
  background-image: url('../empty_lane.jpg');
  /*height: 50%;*/
  background-size: 100% auto;

}

.racer_table #jeep td{
  background-image: url('../empty_lane.jpg');
  background-size: 100% auto;
  /*height: 10em;*/
}
/*th {
  text-align: left;
  }*/
  #dino td.active{
    /*height: 10em;*/
    width: 10%;
    background-image: url('../dino.jpg');
    background-size: 100% auto;
  }

  #jeep td.active{
    background-image: url('../jeep.jpg');
    background-size: 100% auto;
  }


